<aside class="col-sm-3 smh h-100 bg-blue">
    <div class="text-light">
      <div class="row">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center py-3">
          <img src="/icon/user.png" alt="user avatar" class="rounded-circle w-25">
          <h6 class="text-light fw-bold my-2 lead">Abiola Fasanya</h6>
        </div>
        <hr>
        <div class="col-12">
          <ul class="navbar-nav py-2">
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/user/dashboard"><span class="fas fa-home mx-3"></span>Dashboard</a>
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment"><span class="fas fa-tasks mx-3"></span>Assignment</a>
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/results"><i class="fas fa-check-circle mx-3"></i> Course Progress</a>
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/resources"><i class="fas fa-file mx-3"></i> Resourses</a>
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/resources"><i class="fas fa-calendar-check mx-3" aria-hidden="true"></i> Attendance</a>
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-bell mx-3"></i> Notice Board</a>
              </li>
              <li class="nav-item w-100">
                <!-- <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-book-open mx-3"></i> Syllabus</a> -->
              </li>
              <li class="nav-item w-100">
                <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-calendar-alt mx-3"></i> Time Table</a>
              </li>
          </ul>
        </div>
      </div>
  </aside>