<menu id="sm-screen">
    <div class="container-fluid">
        <div class="d-flex justify-content-between items-center">
            <div>
                <i class="fas fa-tachometer-alt text-20"></i>
                <a href="#overview">Overview</a>
            </div>
            <div>
                <i class="fas fa-tachometer-alt text-20"></i>
                <a href="#assignment">Assignment</a>
            </div>
            <div>
                <i class="fas fa-tachometer-alt text-20"></i>
                <a href="#submitTask">Submit</a>
            </div>
            <div>
                <i class="fas fa-tachometer-alt text-20"></i>
                <a href="#result">Result</a>
            </div>
        </div>
    </div>
</menu>