<p class="text-center text-muted">&copy; Copyright 2021 Fidelity School</p>
<script src="/icon/fontawesome.js"></script>
<!-- <script src="/icon/fontawesome.js" crossorigin="anonymous"></script> -->

<script
  type="text/javascript"
  src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"
></script>
<script src="/js/bootstrap.min.js"></script>
