<p class="text-center text-muted">&copy; Copyright 2021 Fidelity School</p>
<script src="/icon/fontawesome.js"></script>
<!-- <script src="/icon/fontawesome.js" crossorigin="anonymous"></script> -->
<script src="/js/bootstrap.min.js"></script>
