<!-- <p class="text-center text-muted">&copy; Copyright 2021 Fidelity School</p> -->
<script src="/icon/fontawesome.js"></script>
<!-- <script src="/icon/fontawesome.js" crossorigin="anonymous"></script> -->

<!-- <script
  type="text/javascript"
  src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"
></script> -->
<script src="/js/script.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"
  integrity="sha512-JO6JyFPJupQKZf7icgZkHwuq/rAQxH7COqvEd4WdK52AtHPedwHog05T69pIelI69jVN/zZbW6TuHfH2mS8j/Q=="
  crossorigin="anonymous"
></script>
