<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- CSS (load bootstrap) -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="/icon/fontawesome.js"></script>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/> -->
<title>Fidelity School</title>
<style>
  html {
    height: 100%;
  }
  body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .bg-blue, .btn-blue {
    background:#0772ff !important;
    color: #e4effd !important;
  }
  .text-blue {color: #0772ff !important}
</style>
