<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/assignment">
      <span class="text-warning">Fidelity Submittion Portal</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assignment/results">Result</a>
        </li>
        <li class="nav-item d-flex">
          <% if(loggedIn) { %> 
          <form action="/user/logout?_method=DELETE" method="post">
              <button class="btn btn-warning mx-1" type="submit">LogOut</button>
          </form>
          <% } else { %>
          <form action="/user/register" method="get">
              <button class="btn btn-secondary mx-1" type="submit">Register</button>
          </form>
          <form action="/user/login" method="get">
              <button class="btn btn-success mx-1" type="submit">Login</button>
          </form>
          <% } %>
           
          <!-- <div class="dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="menu"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="menu">
              <li><a class="dropdown-item" href="#">Login</a></li>
              <li><a class="dropdown-item" href="#">Register</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div> -->
  </div>
</nav>
