<meta charset="UTF-8" />
<title>Fidelity School</title>

<!-- CSS (load bootstrap) -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<style>
  body {
    padding: 0;
    margin: 0;
  }
</style>
