<footer class="footer">
    <section class="navbar border-top d-flex fixed-bottom w-100">
      <div class="w-100">
        <div class="w-100 bg-dark text-light">
          <ul class="navbar-nav d-flex flex-row justify-content-evenly align-items-sm-center">
            <li class="nav-item">
              <a href="/user/dashboard" class="nav-link nav-c align-items-center d-flex flex-column text-light">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assignment" class="nav-link nav-c align-items-center d-flex flex-column text-light">
                <i class="fas fa-tasks"></i>
                <span>Assignment</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assignment/submit" class="nav-link nav-c align-items-center d-flex flex-column text-light">
                <i class="fas fa-book"></i>
                <span>Resourses</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assignment/notification" class="nav-link nav-c align-items-center d-flex flex-column text-light">
                <i class="fas fa-bell"></i>
                <span>Notification</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="/assignment/settings" class="nav-link nav-c align-items-center d-flex flex-column text-light">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </footer>