<aside class="bg-primary text-light lead" id="aside">
  <div
    class="col-12 d-flex flex-column align-items-center justify-content-center py-3"
  >
    <img src="/icon/user.png" alt="user avatar" class="rounded-circle w-25" />
    <h6 class="text-light fw-bold my-2 lead">
      <%= data.first_name.toUpperCase() %> <%= data.last_name.toUpperCase() %>
    </h6>
  </div>

  <div class="aside-item my-1 mt-5" data-id="overview">
    <i class="fas fa-tachometer-alt text-20 me-2"></i>
    <span class="text-16">Overview</span>
  </div>

<% if(data.role == "student") {%> 
  <div data-id="assignment" class="aside-item">
    <i class="fas fa-store text-20 me-2"></i>
    <span class="text-16">Submit Assignment</span>
  </div>

  <div data-id="submitTaask" class="aside-item">
    <i class="fas fa-store text-20 me-2"></i>
    <span class="text-16">Assignments</span>
  </div>

  <div class="my-1 aside-item" data-id="result">
    <i class="fas fa-plus-circle text-20 me-2"></i>
    <span class="text-16">Results</span>
  </div>

  <div class="my-1 aside-item" data-id="resources">
    <i class="fas fa-map-marker-alt text-20 me-2"></i>
    <span class="text-16">Resources</span>
  </div>
<% }  %> 
<% if (data.isTeacher) {%> 
  <div data-id="assignment" class="aside-item">
    <i class="fas fa-store text-20 me-2"></i>
    <span class="text-16">Assignment</span>
  </div>

  <div class="my-1 aside-item" data-id="createTask">
    <i class="fas fa-map-marker-alt text-20 me-2"></i>
    <span class="text-16">Create Task</span>
  </div>

  <div class="my-1 aside-item" data-id="notification">
    <i class="fas fa-map-marker-alt text-20 me-2"></i>
    <span class="text-16">Notification</span>
  </div>

  <% } %> 
<!-- admin sidebar -->
  <% if (data.isAdmin) {%> 
    <div data-id="assignment" class="aside-item">
      <i class="fas fa-store text-20 me-2"></i>
      <span class="text-16">Assignment</span>
    </div>
    
    <div class="my-1 aside-item" data-id="user">
      <i class="fas fa-map-marker-alt text-20 me-2"></i>
      <span class="text-16">User</span>
    </div>
    
    <div data-id="addUser" class="my-1 aside-item">
      <i class="fas fa-map-marker-alt text-20 me-2"></i>
      <span class="text-16">Add User</span>
    </div>
  
    <div data-id="notification" class="my-1 aside-item">
      <i class="fas fa-map-marker-alt text-20 me-2"></i>
      <span class="text-16">Notification</span>
    </div>
  
    <% } %> 
</aside>
