.menu {
    background-color: #000000;
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    /* margin-top: 60px; */
  }
  
  .menu .link {
    display: inline-flex;
    padding: 1rem;
    font-size: 1rem;
    color: gray;
    position: relative;
  }
  
  .menu .link .icon {
    stroke: gray;
    height: 22px;
    width: 22px;
  }
  
  /* active */
  .menu .link.active .icon {
    stroke: white;
  }
  
  .menu .slider {
    position: absolute;
    height: 10px;
    background-color: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    margin: auto;
    transform-style: preserve-3d;
  }
  
  .menu .slider .focus {
    transform-style: preserve-3d;
    transform-origin: top;
    transform: perspective(200px) translateY(1px) rotateX(65deg);
    background-image: linear-gradient(
      -180deg,
      rgba(255, 255, 255, 0.5),
      rgba(0, 0, 0, 0) 90%
    );
  }
  
  @keyframes supportAnimate {
    0%,
    100% {
      background-color: #dd0000;
    }
    50% {
      background-color: #0000dd;
    }
  }