<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-light">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="container">
          <div class="row">
              <div class="col-3">
                  <div class="lead">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quibusdam ipsam nulla facilis, nemo suscipit minima dignissimos fugit quo ipsa, placeat voluptatum, tenetur blanditiis commodi explicabo cumque corrupti repudiandae? Sed?<20></20>
                  </div>
              </div>
              <div class="col-7"></div>
          </div>
      </div>
    </main>

    <footer><%- include('../partials/foot'); %></footer>
  </body>
</html>
