<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-light">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="container w-100">
        <div class="bg-light p-5 rounded">
          <h1 class="text-center">Login</h1>
        </div>
        <section>
          <%- include('../partials/messages');  %> 
        </section>
        <div class="d-flex justify-content-center flex-column align-items-center  p-4 py-5">
          <form
            action="/user/login"
            method="post"
          >
            <div class="form-group mb-3">
              <label for="username">Username</label>
              <input type="text" name="username" class="form-control" placeholder="Username or Student ID">
            </div>
            
            <div class="form-group mb-3">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            
            <div class="form-group">
              <input
                type="submit"
                value="Login"
                class="btn btn-primary w-100"
                name="submit"
              />
              <span class="">Don't Have an Account? <a href="/user/register">Register</a></span>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
