<aside class="col-sm-3 smh h-100 bg-dark">
    <div class="text-light">
      <div class="card-header fw-bold fs-3">Menu</div>
      <ul class="navbar-nav py-2">
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/admin/dashboard"><span class="fas fa-home mx-2"></span>Home</a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/admin/users"><span class="fas fa-users mx-2"></span>Users</a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/results"><i class="fas fa-user-circle mx-2"></i> Teachers</a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/resources"><i class="fas fa-file mx-2"></i> Materials / Library</a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/resources"><i class="fas fa-calendar-check mx-2" aria-hidden="true"></i> Attendance</a>
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-bell mx-2"></i> Notice Board</a>
          </li>
          <li class="nav-item w-100">
            <!-- <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-book-open mx-2"></i> Syllabus</a> -->
          </li>
          <li class="nav-item w-100">
            <a class="nav-link text-light px-3 fs-5 my-2 nav-c" href="/assignment/notification"><i class="fas fa-calendar-alt mx-2"></i> Time Table</a>
          </li>
      </ul>
  </aside>