<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Grade
</button>
   -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop_<%= id %>"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gradeTitle">Grade Student</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form action="/assignment/grade/<%= id %>" method="post">
        <div class="modal-body">
          <label for="score">Student Score</label>
          <input type="number" name="score" id="" class="form-control" />
          <!-- <label for="score">Student Id</label>
          <input type="number" name="student_id" class="form-control" /> -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
